= table.column :id
= table.column :_hash
= table.column :name
= table.column :participants do |r|
  - r.participants.size
= table.column :rounds do |r|
  - r.rounds.size
= table.column :standings do |r|
  - r.standings.size