= table.column :_id
= table.column :deactivated
= table.column :disciplines do |r|
  - r.disciplines.size
= table.column :elimination_match
= table.column :forced_tables
= table.column :group_id
= table.column :hash
= table.column :result
= table.column :round_id
= table.column :skipped
= table.column :tables
= table.column :team1
= table.column :team1bye
= table.column :team2
= table.column :team2bye
= table.column :time_end
= table.column :time_start
= table.column :valid